$black-text: #444444;

$sak-bg: rgb(231, 215, 248);
$sak-bg-dark: rgb(216, 135, 216);
$sak-border-primary: #562524;
$sak-border-secondary: #ccc;
$sak-text: white;

$vb-bg: #f1eedd;
$vb-bg-dark: #009c5f;
$vb-border-primary: #e13946;
$vb-border-secondary: #d5bf86;
$vb-text: white;